body {
  margin:0;
  padding:0;
  font-family: 'Lato', sans-serif;
}

img {
  max-height:100%;
  max-width:100%;
}

a {
  text-decoration:none;
  color:black;
}

main {
  margin:auto;
    max-width: 1150px;
}

.page_header {
  font-size:4em;
  text-align:center;
}

.paragraph_header p {

  text-align:center;

}

.section1 b {
  font-size:1.2em;
}

section li {
  width:80%;
  margin:auto;
  text-align:left;
  font-size: 1.5em;
  line-height:200%;
  padding-top:.75em;

}


/* Section Formatting */
.section {
}


.sectionimg {
  padding-top:3em;
  display:block;
  margin:auto;
}

.subheading {
  font-size:2.5em;
  text-align:left;
  padding-bottom:.75em;
  border-bottom:solid 1px;
  width:90%;
  margin:auto;
  padding-top:.75em;
}

p {

    width:90%;
    margin:auto;
    text-align:left;
    font-size: 1.5em;
    line-height:200%;
}

.paragraph_header {

  text-align:center;

}

.button {
  display:block;
  width:80%;
  margin:auto;
  font-size:1.7em;
  text-align:center;
  background-color:#008480;
  color:white;
  border-radius:100px;
  padding-top:2em;
  padding-bottom:2em;
  margin-bottom:-2.5em;
  position:relative;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, .3);


}

.button:hover {

    background-color:grey;

}

.section li {
  width:80%;
  margin:auto;
  text-align:left;
  font-size: 1.5em;
  line-height:200%;
  padding-top:.75em;

}


/* Section black */

.black {
  background-color:#333333;
  padding-top:6em;
  z-index:1;
  color:white;

}

/* White Section */

.rev {

background-color:white;
color:#333333

}

/* Extra Formatting */

.listheader {
  font-size:2.5em;
  text-align:left;
  padding-bottom:.75em;
  border-bottom:none;
  width:90%;
  margin:auto;
  padding-top:.75em;


}

.smallimg {
  width:90%;
}

.bottom {

padding-bottom:6em;

}

.subheading_special {
font-size:2.5em;
text-align:center;
padding-bottom:.75em;
border-bottom:solid 1px;
width:90%;
margin:auto;
padding-top:.75em;

}

.greenskyimg {
padding-top:3em;
padding-bottom:3em;
display:block;
margin:auto;
width:60%;

}

.listheaderspecial {

text-align:center;

}

@media only screen and (max-width:1079px) {

  .page_header {
    font-size:4em;
    text-align:center;
  }

  .paragraph_header p {

    text-align:center;

  }

  .section1 b {
    font-size:1.2em;
  }

  li {
    width:80%;
    margin:auto;
    text-align:left;
    font-size: 1.5em;
    line-height:200%;
    padding-top:.75em;

  }


  /* Section Formatting */
.section {
}


  .sectionimg {
    padding-top:3em;
    display:block;
    margin:auto;
  }

  .subheading {
    font-size:2.5em;
    text-align:left;
    padding-bottom:.75em;
    border-bottom:solid 1px;
    width:90%;
    margin:auto;
    padding-top:.75em;
  }

p {

      width:90%;
      margin:auto;
      text-align:left;
      font-size: 1.5em;
      line-height:200%;
  }

  .paragraph_header {

    text-align:center;

  }

  .button {
    display:block;
    width:80%;
    margin:auto;
    font-size:1.7em;
    text-align:center;
    background-color:#008480;
    color:white;
    border-radius:100px;
    padding-top:2em;
    padding-bottom:2em;
    margin-bottom:-2.5em;
    position:relative;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, .3);


  }

  .button:hover {

      background-color:grey;

  }

  .section li {
    width:90%;
    margin:auto;
    text-align:left;
    font-size: 1.5em;
    line-height:200%;
    padding-top:.75em;

  }


  /* Section black */

  .black {
    background-color:#333333;
    padding-top:6em;
    z-index:1;
    color:white;

  }

/* White Section */

  .rev {

  background-color:white;
  color:#333333

  }

  /* Extra Formatting */

  .listheader {
    font-size:2.5em;
    text-align:left;
    padding-bottom:.75em;
    border-bottom:none;
    width:90%;
    margin:auto;
    padding-top:.75em;


  }

.smallimg {
    width:90%;
}

.bottom {

  padding-bottom:6em;

}

.subheading_special {
  font-size:2.5em;
  text-align:center;
  padding-bottom:.75em;
  border-bottom:solid 1px;
  width:90%;
  margin:auto;
  padding-top:.75em;

}

.greenskyimg {
  padding-top:3em;
  padding-bottom:3em;
  display:block;
  margin:auto;
  width:60%;

}

.listheaderspecial {

  text-align:center;

}
}
