body {
  margin:0;
  padding:0;
  font-family: 'Lato', sans-serif;
}

img {
  max-height:100%;
  max-width:100%;
}

a {
  text-decoration:none;
  color:black;
}

/* VIP Form Modal Popup */

.modalvip {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 20vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;

}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.vipform {
  background-image: linear-gradient(to bottom right, rgba(0, 132 ,128 ,1), rgba(0,132,128,1), rgba(0,132,128,1), rgba(255,255,255,.7) );
  width:550px;
  margin:auto;
  border-radius:3px;
  color:white;
  box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.form-content-wrapper {
  width:60%;
}

::placeholder {
  color:white;
  opacity: 1;
}

:-ms-input-placeholder {
    color:white;
}

.vipform input {
  border:none;
  border-bottom:1px solid white;
  background-color:rgba(0,0,0,0);
  line-height:4vh;
  width:100%;
  letter-spacing:.1em;
}

.vipform input:first-of-type {
  margin-bottom:20px;
  margin-top:20px;
}

.bottom-input {
  margin-bottom:20px;
  margin-top:20px;
  color white;

}

input#date.bottom-input {
  color:white;
}

/* change date placholder */

input[type=date] {
  text-align:right;
  color:white;
}

input[type='date']:before {
  content:attr(placeholder) !important;
}

input[type='date']:focus:before {
  color:#007a9d;
}

input#formsubmit.modal-input-button {
  border:1px solid white;
  margin-top:8vh;
  margin-bottom:2em;
  line-height:5vh;
  font-weight:bold;
  color:white;
  letter-spacing:.2em;

}

.form-content-wrapper {
  text-align:left;
  padding-top:2em;
  padding-bottom:2em;
  width:75%;
  margin:auto;


}

.form-header-text {
font-size:1.75em;
margin-bottom:0;
letter-spacing:.1em;
font-weight:bold;
}

.form-body-text {
  line-height:3vh;
  font-size:.8em;
  letter-spacing:.12em;
  font-weight:300;
}

@media only screen and (max-width:1080px) {
    .modalvip {
      padding-top:5vh;
    }

    .vipform {
      background-image: linear-gradient(to bottom right, rgba(0, 132 ,128 ,1), rgba(0,132,128,1), rgba(0,132,128,1), rgba(255,255,255,.7) );
      width:90%;
      margin:auto;
      border-radius:3px;
      color:white;
      box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }

    .form-header-text {
      text-align:center;
    }

    .form-body-text {
      text-align:center;
    }
    /* change date placholder */

    input[type=date] {
      text-align:center;
    }

  }
