body {
  margin:0;
  padding:0;
  font-family: 'Lato', sans-serif;
}

img {
  max-height:100%;
  max-width:100%;
}

a {
  text-decoration:none;
  color:black;
}

.img-header {
  display:block;
  margin:auto;
  margin-top:10vh;
  height:100vh;
  object-fit: scale-down;
}



  .img-header {
    display:block;
    margin:auto;
    margin-top:1vh;
    width:90%;
    object-fit: scale-down;

  }

@media only screen and (max-width:1080px) {

  .img-header {
    display:block;
    margin:auto;
    width:90%;
    height:auto;
    object-fit: scale-down;
    margin-top:0;
  }





}
