body {
  margin:0;
  padding:0;
  font-family: 'Lato', sans-serif;
}

img {
  max-height:100%;
  max-width:100%;
}

/* Fourth Section Provider Section */

.carouselins {
  background:rgba(0, 0, 0, 0);
  position: relative;
  top:-30vh;
  margin:0;
  z-index: 0;
}

.fourth-section {
  margin-top:15vh;
  text-align:center;
  padding-top:7vh;
  padding-bottom:25vh;
  background: rgba(0,132,128,.2);
}

.fourth-header {
  margin-bottom:5vh;
}

.appt-button {
  background-color:#008480;
  color:white;
  padding-left:.7em;
  padding-right:.7em;
  padding-top:.5em;
  padding-bottom:.5em;
  letter-spacing: .05em;
  position:relative;
  z-index: 1;
  font-size:.9em;
  display:block;
  margin-top:3em;
  width:150px;
  text-align: center;
  margin-left:auto;
  margin-right:auto;





}

.appt-button:hover {
  animation: change 1s 1;
  background:black;
  color:white;
}

@media only screen and (max-width:1080px) {



}
