.small-footer {
  background-color:#008480;
  display:flex;
  justify-content: space-around;
}

.footer {
  display:flex;
  justify-content: space-around;
  margin-bottom:5vh;
  margin-top:5vh;

}

.footer-button {
  background-color:#008480;
  color:white;
  padding-left:1.5em;
  padding-right:1.5em;
  padding-top:.8em;
  padding-bottom:.8em;
  letter-spacing: .1em;
  z-index: 1;
  display:block;
  margin-top:3vh;
  font-size:.8em;
  text-align: center;


}



.footer-button:hover {
  animation: change 1s 1;
  background:black;
  color:white;
}



.middle-footer a {
  color:black;
}




/* Form CSS */
.footer-form {
  width:100%;
}

.footer-form-content-wrapper {
  padding:0;
  width:100%;
  text-align: center;
}

.footer-menu-header-text {
  margin-bottom:1vh;
}

.footer-menu-subheader-text {
  margin-top:2vh;
  margin-bottom:2vh;
}

.footer-form-header-text {
  text-align: center;
  margin-top:5px;
  margin-bottom:5vh;
  font-size: 1em;
  font-weight:bold;
  letter-spacing:.05em;
  display:block;

}

i.fas.fa-dove.footer-icon::before {
  display:block;
  font-size: 3.5em;

}

.footer-input {

}

.footer-input-name {
  margin-bottom:2vh;
  border:none;
  border-bottom:1px grey solid;

}

.footer-input-name::placeholder {
  color:grey;
}

.footer-form-submit {
  width:100%;
  margin-top:0;
  background-color: white;
  border:none;
  border:1px grey solid;
}

.footer-vertical-line {
  border-left:1px solid rgba(0, 0, 0, 0.1);
}

.footer-item a {
  color:black;
}

.mini-item a {
  text-decoration:none;
  color:black;
}

@media only screen and (max-width:990px) {

  .footer {
    display:block;
  }

  .mobile-footer-break {
    display:block;


  }

  .first-footer{
    display:flex;
    justify-content: space-around;
    margin-bottom:5vh;
  }

  .small-footer {
    display:block;
    text-align: center;
    padding-top:.1vh;
    padding-bottom:.1vh;
  }

  .footer-vertical-line {
    border:none;
    border-top:1px solid rgba(0, 0, 0, 0.1);
    width:80%;
    margin:auto;
  }

  .middle-footer {
    margin-top:5vh;
    margin-bottom:5vh;
    text-align: center;
  }

  .footer-button {
    width:50%;
    margin:auto;
  }

  .bottom-footer {

    margin-top:5vh;

  }

  .footer-form-submit {
    color:gray;
    width:50%;
    margin:auto;
  }

}
